.create
	margin-bottom: 6rem
	&-form
		&__title
			width: 100%
			border: 1px solid $border
			font-size: 1.14rem
			padding: 1.64rem 2.2rem
			margin-bottom: 1.14rem
			color: $text-gray
			border-radius: $trs
			+SFSemibold
			&::placeholder
				color: $text-gray
		&__text
			width: 100%
			resize: vertical
			border: 1px solid $border
			font-size: 1rem
			padding: 1.64rem 2.2rem
			min-height: 25.85rem
			color: $text-gray
			border-radius: $trs
			+SFRegular
			&::placeholder
				color: $text-gray
		&__actions
			margin-top: 2.1rem
		.actions
			display: flex
			align-items: center
			&-btn
				&__publication
					width: 26.42rem
					margin-right: 2.57rem
			.btn-add
				margin-right: 0.85rem
				&::last-child
					margin-right: 0
